/* Define a class for the space grey */
.space-grey-background {
  background-color: #33383D; /* Space Grey color */
  color: white; /* Text color */
}

.powder-blue-metallic {
  background-color: #b0e0e6; /* Powder Blue */
  border: 1px solid #b0e0e6; /* Border color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08); /* Metallic effect */
}

/* Adjust styles for buttons */
.custom-button {
  margin-right: 10px;
  animation-duration: 1s;
}

/* Add animation classes */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}