/* Define a class for the space grey */
* {
  background-color: #33383D;
  /* Space Grey color */
  
  color: white;
  /* Text color */
}

#logo {
  max-width: 80px;
  max-height: 80px;
  margin-top: 5px;
  margin-left: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid blue 3px;
}

.header-list {
  list-style: none;
  display: flex;
  padding-right: 30px;
  margin-top: 20px;
  padding-bottom: 2%;
}

.header-li {
  color: white;
  font-weight: bold;
  font-size: x-large;
  margin-right: 40px;
}

.home-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-inline: 8%;
  padding-bottom: 5%;
  color: whitesmoke;
}

.individual-card {
  margin-block: 10px;
}

/* Adjust styles for buttons */
.custom-button {
  margin-right: 10px;
  animation-duration: 1s;
}

/* Add animation classes */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}